* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: inherit;
}

/* html {
  font-family: lato;
  color: var(--clr1);
  line-height: 1.25;
} */

body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* overflow: none; */
  min-height: 100vh;

  font-family: 'Lato', sans-serif;
}

button.menu-btn {
  padding: 0.25em;
  margin: 0.25em;
}

.menu-btn img {
  width: auto;
  height: 2em;
}
