* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

.btn {
  cursor: pointer;
}

button.menu-btn {
  padding: 0.25em;
  margin: 0.25em;
}

.menu-btn img {
  width: auto;
  height: 2em;
}
