.main-head {
  grid-area: header;
}
.editor,
.gallery {
  grid-area: article;
}
.main-footer {
  grid-area: footer;
}
.main-nav {
  grid-area: nav;
}
.editor-controls {
  grid-area: control;
}

@media (min-width: 600px) {
  .main-layout {
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-areas:
      'header header  header'
      'nav article  control'
      'nav article  control'
      'footer footer  footer';

    margin-inline: 5em;
    border: 1px solid powderblue;
  }

  .canvas-container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .editor-controls {
    border: 1px black solid;
    padding-inline: 1em;
    width: 18em;
  }
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .main-nav {
    padding: 2em;
  }
  .main-nav > ul {
    display: block;
  }
}
