.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-block: 58px;
}

.card-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-text-secondary {
  flex: 1;
}
