section.editor {
  display: none;
  align-self: center;
  margin-inline: auto;
}

.editor-container {
  align-items: center;
}

.main-controls {
  display: flex;
  flex-wrap: wrap;
}

.main-controls-flex-item {
  flex-basis: 20%;
}

.main-controls-flex-item-select {
  flex-basis: 60%;
}

.editor-controls > .input-line > input {
  width: 100%;
  display: block;
  margin: 1em 0em;
  padding: 0.5em;
}

.editor-controls {
  display: none;
  background-color: lightblue;
  border: 1px black solid;
  padding-inline: 1em;
  width: 100%;
}

.emoji-controls {
  flex-wrap: wrap;
  display: flex;
}

.emoji-controls span {
  flex-basis: 10%;
  cursor: pointer;
}
