.main-footer {
  background-color: var(--clr7);
  box-shadow: inset 0 1px 0 #e1e0e0;
  height: 315px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.social-links {
  gap: 20px;
}
.social-icon {
  width: 40px;
  height: 40px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  /* TODO change to vars the colors 
TODO correct sizes
*/
}

.social-icon:hover {
  background-color: #516fad;
}

.main-footer small {
  font-family: lato;
  font-size: 13px;
}

.main-footer small a {
  font-family: lato-b;
  text-decoration: none;
  color: #939292;
}
