.main-head {
  /* background-color: #fff; */
  display: flex;
  /* margin: auto; */
  justify-content: center;
  margin-bottom: 3em;
  background-color: lightblue;
}

.logo {
  height: 6em;
  margin: 1em 0em;
}

.logo > img {
  margin: auto;
  height: 10rem;
  width: auto;
  border: 3px solid brown;
  border-radius: 50%;
}
