.secondary-nav {
  height: 100px;
  border-block-start: 1px solid var(--clr5);
  display: grid;
  align-items: center;
}

.secondary-nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: lato-bold;
  font-size: 18px;
  /* TODO change to relative units */
  letter-spacing: 0.9;
  color: var(--clr6);
}
.secondary-nav ul {
  display: grid;

  grid-template-columns: 1fr 1fr;
}

.secondary-nav li:last-child {
  justify-self: end;
}

.secondary-nav li:first-child::before {
  content: url(/img/004.png);
  margin-inline-start: 50px;
}

.secondary-nav li:last-child::after {
  content: url(/img/005.png);
  margin-inline-end: 50px;
}
/* TODO make arrow clickable */
